<div id="bottombarChatMessage" class="bottombar">
    <div class="bottombarFloatLeft bottombarImageDiv">
        <img src="{{currentChatMessage.author_pic}}" class="img-polaroid ytthumbnail">
    </div>
    <div class="bottombarTextDiv">
        <p class="fromAuthorLabel"><b>CHAT MESSAGE FROM</b></p>
        <h2>{{currentChatMessage.author_name}}</h2>
        <p>{{currentChatMessage.content}}</p>
    </div>
</div>
<!--{"content":"test","ytVideoID":"live","timestamp":"just now","author_pic":"img/anon44.jpg","author_name":"Stephane van der Plaant (anon)"}-->