<div id="localeSelectDiv">
    <fieldset class="ui-grid-a">
        <div class="ui-block-a">
            <select id="localeSelect" onChange="changeLocale($('#localeSelect').val())" data-theme="a">
                <option value="en_US">english</option>
                <option value="fr_FR">français</option>
                <option value="de_DE">german</option>
                <option value="es_ES">español</option>
                <option value="pt_PT">português</option>
                <option value="it_IT">italiano</option>
                <option value="zh_CN">中国的</option>
                <option value="ja_JP">日本人</option>
                <option value="ru_RU">русский</option>
                <option value="ar_AE">العربية</option>
            </select>
        </div>
    </fieldset>
</div>