<!--<button ng-click="scrollToSelectedVideo()">scroll to selected</button>-->
<div id="playlistMenuDiv" class="youtubeDiv containerScroll">
    <table class="table table-striped">
        <tr id="{{vid.snippet.resourceId.videoId}}" ng-repeat="vid in youtubeResult | filter:query" data-ng-click="loadVideo(vid)">
            <td ng-class="getSelectedVideo(vid.snippet.resourceId.videoId)" class="youtubeListRenderTd">
                <img class="youtubeListThumb" ng-src="{{vid.snippet.thumbnails.medium.url}}">
                <span>{{vid.snippet.title}}</span>
            </td>
        </tr>
    </table>
</div>