<br>
<form ng-submit="searchInGamikazeVideos(searchTerm)">
    <div class="form-horizontal">
        <!--<h2>{{searchTerm}}</h2>-->
        <input type="text" ng-model="searchTerm" placeholder="Type a search here.">
        <button class="btn"><i class="icon-search"></i>  SEARCH</button>
    </div>
</form>
<div style="padding: 20px;" ng-show="isSearchingYoutube == true">
    <img src="img/257.gif" />
</div>
<div class="youtubeDiv containerScroll">
    <table class="table table-striped">
        <tr id="{{vid.snippet.resourceId.videoId}}" ng-repeat="vid in videoSearchResults" data-ng-click="loadVideo(vid)">
            <td ng-class="getSelectedVideo(vid.snippet.resourceId.videoId)" class="youtubeListRenderTd">
                <img class="youtubeListThumb" ng-src="{{vid.snippet.thumbnails.medium.url}}">
                <span>{{vid.snippet.title}}</span>
            </td>
        </tr>
    </table>
</div>