<div class="containerScroll">
    <div class="sidebarShareContainer">
        <i class="icon-facebook icon-2x" style="color:#ffff00;"></i>

        <div class="buttonContainer">
            <button type="button" class="btn"
                    ng-click="postToFeed()">
                <i class="icon-share icon-2x"></i><br/>SHARE VIDEO
            </button>
            <button type="button" class="btn"
                    ng-click="sendMessage()">
                <i class="icon-share icon-2x"></i><br/>MESSAGE VIDEO
            </button>
        </div>
        <div class="twitterIcon">
            <i class="icon-twitter icon-2x twitterIcon" style="color:#ffff00;"></i>
        </div>
        <div class="buttonContainer">
            <button type="button" class="btn" ng-click="tweetVideo()"><i class="icon-share icon-2x"></i><br/>TWEET ABOUT
                THAT VIDEO
            </button>
            </a>
            <button type="button" class="btn" ng-click="tweetAboutUs()"><i class="icon-share icon-2x"></i><br/>TWEET
                ABOUT
                US!
            </button>
        </div>
        <div class="twitterIcon">
            <i class="icon-envelope-alt icon-2x twitterIcon" style="color:#ffff00;"></i>
        </div>
        <div class="buttonContainer">
            <button type="button" class="btn" ng-click="sendVideoByEmail()">
                <i class="icon-envelope icon-2x"></i><br/>SHARE BY EMAIL
            </button>
        </div>
    </div>
</div>