.sidebarShareContainer
{
    padding: 10px;
    padding-top: 15px;
}

.sidebarShareContainer div
{
    padding: 0px;
}

.sidebarShareContainer div .twitterIcon
{
    padding: 30px;
}

.sidebarShareContainer .buttonContainer
{
    line-height: 80px;
}

.sidebarShareContainer .twitterIcon
{
    padding-top: 30px;
}

.sidebarShareContainer button
{
    width: 250px;
}

@media screen and (max-width: 840px) {
    .sidebarShareContainer button{
        font-size: 12px;
        width: 160px;
    }
}
